<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png" type="image/png" sizes="any">
  <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/icon.png">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,800,800i|Noto+Serif|Noto+Sans+Mono:300,600&subset=cyrillic&display=swap" rel="stylesheet">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {% include opengraph.html %}
</head>
