<header class="site-header">
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <a class="site-title" href="{{ "/" | relative_url }}"><img src="/assets/logo-full.svg" alt="{{ site.title | escape }}"></a>
        <a class="telegram" href="https://t.me/haywiki"><img src="/assets/telegram.svg" alt="Подпишитесь на наш Telegram-канал"></a>
    </div>
</header>
