<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,800,800i|Noto+Serif|Noto+Sans+Mono:300,600&subset=cyrillic&display=swap" rel="stylesheet">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {% include opengraph.html %}
</head>
