.fa-instagram, .fa-facebook-f, .fa-link, .fa-telegram {
  font-size: 1.4rem;
  vertical-align: -.3rem;
  margin-left: .1em;
  margin-right: .1em;
}

.fa-instagram {
  color: #E1306C;
}

.fa-facebook-f {
  color: #4267B2;
}

.fa-link {
  color: #0F9D58;
  font-size: 1.1rem;
  vertical-align: -.2rem;
}

.fa-telegram {
  color: #2AABEE;
}