.post-toc {
  background: $breadcrumb-bg none repeat scroll 0 0;
  border-radius: $spacing-unit / 4;
  padding: $spacing-unit / 2 $spacing-unit;
  margin: $spacing-unit / 2;
  font-size: .9em;
  margin-bottom: 1em;
  width: auto;
  max-width: 350px;
  float: right;
  margin-right: -250px;

  > ul {
    margin: 0;
  }

  @include media-query($content-width + 250px * 2 + $spacing-unit) {
    margin-right: -150px;
  }

  @include media-query($content-width + 150px * 2 + $spacing-unit) {
    margin-right: 0;
  }

  @include media-query($on-palm) {
    width: 100%;
    float: none;
    max-width: available;
  }

  > ul:before {
    display: block;
    content: $toc-title;
    font-family: $heading-font-family;
    margin-bottom: $spacing-unit / 2;
    text-align: center;
  }

  li, ul, ul li {
    list-style: outside none none !important;
  }
}
