$base-font-family: "Noto Sans", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 800 !default;
$base-line-height: 1.75 !default;

$heading-font-family: "Noto Serif", serif !default;

$content-width:    60rem !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$grey-color-bg: #f9f9f9 !default;

$blockquote-color: #4d4d4d !default;
$blockquote-color-light: #039be5 !default;

$code-font-family: "Noto Sans Mono", monospace !default;
$code-font-weight: 300;
$code-font-weight-bold: 600;
$code-font-size:   90%;
$code-line-height: 1.4;

$breadcrumb-bg:                 lighten($grey-color, 45%) !default;
$breadcrumb-color:              #ccc !default;
$breadcrumb-active-color:       $grey-color-dark !default;
$breadcrumb-separator:          "/" !default;

$toc-title: "Содержание страницы" !default;

@import "flexboxgrid/main";
@import "base", "code", "adaptive", "breadcrumb", "syntax-highlighting", "content", "_layout/main";
