.breadcrumb {
  padding: .5rem 1rem;
  margin: 0 0 1rem;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: .25rem;

  > li {
    display: inline-block;

    + li:before {
      padding: 0 .3rem;
      color: $breadcrumb-color;
      // [converter] Workaround for https://github.com/sass/libsass/issues/1115
      $nbsp: "\00a0";
      content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
    }
  }

  > .active {
    color: $breadcrumb-active-color;
    a {
      color: $breadcrumb-active-color;
    }
  }

  a {
    text-decoration: none !important;
  }
}
