.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 1rem 0 5rem 0;

  &.darken {
    background-color: $grey-color-bg;
  }

  .footer-heading {
    font-size: 1.125rem;
    margin-bottom: .5rem;
    color: black;
  }

  .row {
    margin: 0 -1rem;
    color: $grey-color;
    font-size: 0.9375rem;
  }
}

.site-header {
  border-top: .25rem solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;

  // Positioning context for the mobile navigation icon
  position: relative;

  .site-title {
    font-size: 1.625rem;
    font-weight: 300;
    letter-spacing: -1px;
    padding: .5rem 0;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
      color: $grey-color-dark;
    }
  }
}

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: .5rem;
  padding-left: .5rem;
  @extend %clearfix;

  @media #{$breakpoint-md-up} {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.page-content {
  padding: 1rem 0;
  flex: 1;
}
