.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 1rem 0 5rem 0;

  &.darken {
    background-color: $grey-color-bg;
  }

  .footer-heading {
    font-size: 1.125rem;
    margin-bottom: .5rem;
    color: black;
  }

  .footer-col {
    @include col("xs", 12);
    @include col("md", 6);
    padding: 0 1rem !important;
    margin-bottom: 2rem;
    color: $grey-color;
    font-size: 0.9375rem;
  }
}

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: .5rem;
  padding-left: .5rem;
  @extend %clearfix;

  @media #{$breakpoint-md-up} {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.page-content {
  padding: 1rem 0;
  flex: 1;
}
