@import "layout", "home", "post", "breadcrumb";

.site-header {
  border-top: .25rem solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;

  // Positioning context for the mobile navigation icon
  position: relative;

  .site-title, .telegram, .telegram-small {
    padding: .5rem 0;
    display: inline-block;
    text-align: center;
    @media #{$breakpoint-sm-up} {
      margin-bottom: 0;
    }
  }

  .site-title {
    @media #{$breakpoint-sm-up} { float: left; }
    > img { width: 300px; height: 50px; }
  }

  .telegram {
    display: none;
    float: right;
    @media #{$breakpoint-sm-up} { display: inline-block; }
    > img { width: 190px; height: 50px; }
  }

  .telegram-small {
    float: right;
    display: none;
    @media only screen and (min-width: 405px) and (max-width: #{$xs-max}) { display: inline-block; }
    @media #{$breakpoint-sm-up} { display: none; }
    > img { width: 85px; height: 50px; }
  }

  @media #{$breakpoint-md-up} {
    background-image: url('/assets/panic.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: .5rem 1rem;
  //font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none !important;
  &.btn-shortcut {
    margin-bottom: 5px;
    //font-size: 11px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-width: 3px;
    &:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
    > span {
      font-size: 2.5rem;
    }
  }
}
