<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

{% if page.display_stale_warning %}
<div class="wrapper" style="margin-top: 1rem;">
    <div class="alert alert-warning">
        <strong>⚠️ Обратите внимание!</strong> Информация на этой странице давно не обновлялась. Пожалуйста, перепроверяйте актуальность данных перед использованием.
    </div>
</div>
{% endif %}

<main class="page-content" aria-label="Content">
    {{ content }}
</main>

{%- include footer.html -%}

</body>

</html>