<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

{% unless page.url contains '/drive/' or page.url == '/' or page.url contains '/life/contacts' %}
<div class="wrapper" style="margin-top: 1rem;">
    <div class="alert alert-warning">
        <strong>⚠️ Обратите внимание!</strong> Информация на этом сайте давно не обновлялась. Пожалуйста, перепроверяйте актуальность данных перед использованием.
    </div>
</div>
{% endunless %}

<main class="page-content" aria-label="Content">
    {{ content }}
</main>

{%- include footer.html -%}

</body>

</html>