---
layout: default
---

<div class="home">
  <div class="wrapper">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
    <div class="posts">
      <div class="wrapper">
        <h2 class="post-list-heading">{{ page.list_title | default: "Новости и обновления" }}</h2>
        <ul class="post-list">
          {%- for post in site.posts limit:5 -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              <p class="post-meta">
                {{ post.date | date: date_format }}
              </p>
              {%- if site.show_excerpts -%}
                {{ post.excerpt | replace: "<h3", "<h4" }}
                <p class="more">
                  <a href="{{ post.url | relative_url }}">{{ post.more_text }} &rarr;</a>
                </p>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
        <a href="posts.html">Полная история изменений сайта</a>
      </div>
    </div>
  {%- endif -%}

  <div class="wrapper">
    <h2>Обратная связь</h2>
    <p>
        Авторы данного сайта обитают в telegram-канале
        <i class="fa-brands fa-telegram"></i> <a href="https://t.me/haywiki">Путеводитель по переезду в Армению</a>.
        Там вы можете связаться с администрацией, а также подписаться на новости и обновления сайта.
    </p>
  </div>
</div>
